h1 {
    font-size: clamp(28px, 4vw, 40px);
    font-weight: 700;
}

h1>b {
    display: inline-block;
    font-size: clamp(36px, 6vw, 56px);
    line-height: 1;
    font-style: normal;
    color: var(--accent);
}